body, html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: lightyellow;
}

* {
    box-sizing: border-box;
}

header{
    width: 400px;
    background-color: red;
    text-align: center;
    color: white;
    font-family: 'Poppins', sans-serif;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 20px 20px 0px 0px;
}

h1{
    text-transform: uppercase;
    font-size: 4rem;
    line-height: 70px;
    font-weight: bolder;
}

h1, h2 {
    margin: 0px; 
}

h2{
    font-weight: lighter;
}

main {
    width: 400px;
    margin-left: 10px;
    font-size: 2rem;
    font-family: 'Cedarville Cursive', cursive;    
    font-weight: bold;
    padding-top: 30px;
    padding-bottom: 40px;
    text-align: center;
    background-color: white;
}

footer {
    height: 35px;
    background-color: red;
    width: 400px; 
    margin-left: 10px;
    border-radius: 0px 0px 20px 20px;
}

#controls {
    width: 400px; 
    text-align: center;
    padding: 5px;
}

#name , #generate {
    height: 50px;
}
#generate {
    border-radius: 20px;
    background-color: orange;
}